<!DOCTYPE html>
<html ng-app="miAplicacion">
	<head>
		<meta charset="ISO-8859-1">
		<title>Ejemplo Angular</title>
		<script src="resources/js/angular.min.js"></script>
		<script src="resources/js/scriptControlador.js"></script>
	</head>
	<body>
		<div ng-controller="Controlador">
			<a href="#" ng-click="eliminar()">Eliminar Seleccionados</a>
			<ul>
				<li ng-repeat="item in lista">
					<input type="checkbox" ng-model="item.seleccionado" />
					<span>{{item.texto}} </span>
				</li>
			</ul>
			<form ng-submit="agregar()" >
				<input type="text" ng-model="texto"/>
				<input type="submit" value="Agregar"/>
			</form>
		</div>
	</body>
</html>